<section data-ng-controller="CollectionsController">
	<div class="page-header">
		<h1>New Collection</h1>
	</div>
	<div class="col-md-12">
		<form name="collectionForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
			    <div class="form-group">
					<label class="control-label" for="location">Location</label>
					<div class="controls">
					    <input name="location" type="text" data-ng-model="location" id="location" class="form-control" placeholder="location">
				    </div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="pickupWindowStart">Start</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="pickupWindowStart" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="pickupWindowEnd">End</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="pickupWindowEnd" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="deliveryWindowStart">Start</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="deliveryWindowStart" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="deliveryWindowEnd">End</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="deliveryWindowEnd" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="suppliers">Suppliers</label>
					<div class="controls"> 
                        <ui-select data-ng-model="$parent.supplier" id="supplier" theme="bootstrap">
                            <ui-select-match placeholder="Choose supplier...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="supplier._id as supplier in suppliers | filter:$select.search">
                                {{supplier.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
