<section data-ng-controller="CollectionsController" data-ng-init="find()">
	<div class="row page-header">
	    <div class="col-md-9">
		    <h1>Collections</h1>
		</div>
		<div class="col-md-3 text-right">
	        <div data-ng-show="authorisation.isAllowed('collections', 'create')"> 
	            <h1>
                    <a class="btn btn-primary" data-ui-sref="collections.create()">
			            <i class="glyphicon glyphicon-plus"></i>
		            </a>
                </h1>
            </div>
        </div>
	</div>
	
	<div class="list-group">
		<a data-ng-repeat="collection in collections"  data-ui-sref="collections.view({collectionId: collection._id})" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="collection.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="collection.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="collection.title"></h4>
			<p class="list-group-item-text" data-ng-bind="collection.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="collections.$resolved && !collections.length">
		No collections yet, why don't you <a data-ui-sref="collections.create">create one</a>?
	</div>
</section>
