<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Dear {{name}},</p>
	<br>
	<p>Thanks for your interest in {{appName}}!</p>
	<p>
	    Your account has just been made ready for you to activate and participate 
	    in our next order :)
	</p>
	<p>Please visit the following url to activate your account:</p>
	<p>{{url}}</p>
	<strong>If you don't want to activate your account or have trouble doing so, please contact info@eatarainbow.org.uk</strong>
	<br>
	<br>
	<p>The {{appName}} Support Team</p>
</body>

</html>
