
@media screen {
    .printSection {
        display: none;
    }
}

@media print {
    .content {
        display:none;
    }

    .printSection, .printSection * {
        display: inline;
    }

    .printSection {
        left:0;
        position:absolute;
        top:0;
    }
}
