.ui-scrollfix.magicmenu {
    position: fixed;
    top: 50px;
}

.ui-scrollfix.magicmain {
    padding-top: 75px;
}

.magicbanner {
    height: 100px; 
}

.magicbanner h1 {
    font-size: 4.5em;
    margin: 10px;
}

.magicmenu {
    z-index: 5;
}

.home img {
    padding: 10px;
    width: 100%;
}

.product-description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .magicbanner {
        display: none;
    }
    .fillimg {
        display: none;
    }
    .ui-scrollfix.magicmenu {
        width: 100vw;
    }
    .ui-scrollfix.magicmain {
        padding-top: 75px;
    }
    .magicmenu {
        position: fixed;
        top: 50px;
        width: 100vw;
    }
    .magicmain {
        padding-top: 75px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .magicbanner {
        display: none;
    }
    .fillimg {
        display: none;
    }
    .ui-scrollfix.magicmenu {
        width: 748px;
    }
    .ui-scrollfix.magicmain {
        padding-top: 75px;
    }
    .magicmenu {
        position: fixed;
        top: 50px;
        width: 748px;
    }
    .magicmain {
        padding-top: 75px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .ui-scrollfix.magicmenu {
        width: 972px;
    }
}

@media (min-width: 1200px) {
    .ui-scrollfix.magicmenu {
        width: 1170px;
    }
}
