.ui-scrollfix.magicmenu {
    position: fixed;
    top: 50px;
}

.ui-scrollfix.magicmain {
    padding-top: 75px;
}

.magicbanner {
    height: 100px; 
}

.magicbanner h1 {
    margin: 10px;
    vertical-align: middle;
}

.magicmenu {
    z-index: 5;
}

.home img {
    padding: 10px;
    width: 100%;
}

.product-description-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
