.ghost-wrapper {
    bottom: 0;
    padding-left: 0;
    position: absolute;
    top: 51px;
}

.ghost-wrapper iframe {
    border: 0;
    height: 100%;
    left: -15px;
    position:relative;
    width: 100%;
}
