<section class="home">

    <!-- Next is a area containing 2 columns -->
    <div class="row">
        <div class="col-md-8">
            <div>
                <ghost-posts slug="home-steps-1"></ghost-posts>
            </div>
            <div>
                <ghost-posts slug="home-steps-2"></ghost-posts>
            </div>
            <div>
                <div class="col-md-12"><img ng-src="/modules/home/images/eatarainbow-stall.png"/></div>
            </div>
            <div>
                <ghost-posts slug="home-steps-3"></ghost-posts>
            </div>
        </div>
        <div class="col-md-4">
            <img  class="fillimg" ng-src="/modules/home/images/eatarainbow-group1-200x300.png"/>
        </div>
    </div>

    <!-- Next is an area containing three equally spaced columns -->
    <div class="row">
        <div class="col-md-4">
            <img class="fillimg" ng-src="/modules/home/images/eatarainbow-girl-300x300.png"/>
            <ghost-posts slug="home-col1"></ghost-posts>
        </div>
        <div class="col-md-4">
            <img  class="fillimg" ng-src="/modules/home/images/eatarainbow-boy-300x300.png"/>
            <ghost-posts slug="home-col2"></ghost-posts>
        </div>
        <div class="col-md-4">
            <img  class="fillimg" ng-src="/modules/home/images/eatarainbow-girl-300x300.png"/>
            <ghost-posts slug="home-col3"></ghost-posts>
        </div>
    </div>


    <!-- Last is a footer -->
    <div>
        <ghost-posts slug="home-footer">
            <p>This is the footer</p>
        </ghost-posts>
    </div>
        
</section>
