<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="product in products">
            <a data-ui-sref="home.view-product({productId: product._id})" class="col-md-8 list-group-item">
                <h4 class="list-group-item-heading" data-ng-bind="product.name"></h4>
                <small class="list-group-item-text">
                    <span data-ng-bind="product.description"></span>
                </small>
            </a>
            <div class="col-md-4">
                <div class="pull-right" add-to-basket></div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
        No Products match...
    </div>
</section>
