<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="col-xs-12">
        <div class="col-md-3 col-xs-12 search-box">
            <div class="input-group">
                <span class="form-control">Results: {{((currentPage-1)*itemsPerPage)+1}} - {{currentPage*itemsPerPage}} / {{totalItems}}</span>
            
                <div class="input-group-btn dropdown" on-toggle="toggled(open)">
                    <button type="button" class="btn btn-default dropdown-toggle">
                        {{itemsPerPage}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a ng-click="setItemsPerPage(10)">10</a></li>
                        <li><a ng-click="setItemsPerPage(20)">20</a></li>
                        <li><a ng-click="setItemsPerPage(50)">50</a></li>
                        <li><a ng-click="setItemsPerPage(100)">100</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>
        </div>
        
        <div class="text-center col-md-6 col-xs-12">
            <pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></pagination>
        </div>
        <form ng-submit="doSearch();">
            <div class="input-group col-md-3 col-xs-12 search-box">
                <input type="text" class="form-control" typeahead="ahead for ahead in aheads | filter:$viewValue | limitTo:8" ng-model="searchTerms"/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="doSearch();"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <accordion>
            <accordion-group>
                <accordion-heading>
                    <h4 class="text-center">Shop By Brand</h4>
                </accordion-heading>
                <ul class="nav nav-stacked nav-pill">
                    <li data-ng-repeat="brand in brands">
                        <a ng-click="doSearch(brand);" data-ng-bind="brand"></a>
                    </li>
                </ul>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <h4 class="text-center">Shop By Category</h4>
                </accordion-heading>
                <ul class="nav nav-stacked nav-pill">
                    <li data-ng-repeat="tag in tags">
                        <a ng-click="doSearch(tag);" data-ng-bind="tag"></a>
                    </li>
                </ul>
            </accordion-group>
        </accordion>
    </div>

    <div class="col-md-9 col-xs-12">
        <div class="list-group">
            <div data-ng-repeat="product in products" class="list-group-item clearfix">

                <div class="col-md-9 pull-right">
                    <div class="col-xs-10">
                        <a data-ui-sref="products.view({productId: product._id})">
	                        <h5 class="list-group-item-heading">{{product.name}} ({{product.caseSize}})</h5>
	                    </a>
	                </div>
                
                    <div class="col-xs-2">
                        <h5 class="list-group-item-heading" data-ng-bind="product.price | currency:'£'"></h5>
                    </div>
                    
                    <div class="col-xs-12" style="overflow:hidden;" data-ng-bind="product.description"></div>
                </div>
            
                <div class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-2">
                    <a data-ui-sref="products.view({productId: product._id})">
	                    <img data-ng-src="{{product.thumbImageUrl}}" alt="{{product.name}}" class="img-thumbnail">
	                </a>
                </div>

	        	<div class="col-md-4 col-md-offset-5 col-xs-6 text-right">             
                    <h5 ng-show="product.externalUrl">
                        <a href="{{product.externalUrl}}" target="_blank">
                            {{product.supplier.name}}'s page
                            <i class="glyphicon glyphicon-new-window"></i>
                        </a>
                    </h5>
                </div>
                <span class="col-md-5 col-md-offset-4 col-xs-6 text-right" add-to-basket></span>
	        </div>

        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
            No Products match...
        </div>
    </div>
</section>
