<section data-ng-controller="IngestsController" data-ng-init="findOne()">
	
	<div class="row page-header">
	    <div class="col-md-9">
		    <h1 data-ng-bind="ingest.name"></h1>
	    </div>
	    <div class="col-md-3 text-right">
	        <div data-ng-show="authorisation.isAllowed('ingests', 'edit')">
	            <h1>
                    <a class="btn btn-primary" data-ui-sref="ingests.edit({ingestId: ingest._id})">
			            <i class="glyphicon glyphicon-edit"></i>
		            </a>
		            <a class="btn btn-primary" data-ng-click="remove();">
			            <i class="glyphicon glyphicon-trash"></i>
		            </a>
                </h1>
            </div>
        </div>
    </div>
	
    <div class="form-group">
        <label>Description:</label>
        <p data-ng-bind="ingest.description"></p>
    </div>
    
    <div class="form-group">
        <label>Supplier</label>
        <p data-ng-bind="ingest.supplier.name"></p>
    </div>
    <div class="form-group">
        <label>Download Url</label>
        <p data-ng-bind="ingest.downloadUrl">
    </div> 
	
	<div class="row page-header">
	    <div class="col-md-9">
	        <h2>Ingest Logs (last {{ingestLogs.length}})</h2>
	    </div>
	    <div class="col-md-3">
	        <div data-ng-show="authorisation.isAllowed('ingests', 'edit')" class="input-group pull-right">
	            <h2>
	                <div class="input-group-btn">
	                <a class="btn btn-warning" ng-disabled="disableRun" ng-click="runIngest();">
			            Run Ingest
		            </a>
		            </div>
		            <div class="input-group-btn dropdown" on-toggle="toggled(open)" ng-disabled="disableRun">
                        <button type="button" class="btn btn-info dropdown-toggle">
                            {{runLength}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li ng-repeat="item in [10, 20, 50, 100, 'all']"><a ng-click="setRunLength(item);" ng-bind="item"></a></li>
                        </ul>
                    </div>
		        </h2>
	        </div>
	    </div>
	</div>

	<accordion close-others="true" class="row">
	    <accordion-group ng-repeat="log in ingestLogs" ng-class="accordionClass(log);" is-open="$parent.viewLogs[log._id]">
	        <accordion-heading>
	            {{ log.created | date:"dd/MM/yyyy @ HH:mm:ss" }} status: {{log.status}}
	        </accordion-heading>
	        <div class="well">
	        	<a ng-show="log.status === 'running' || log.status === 'new';" ng-click="reloadLog(log._id);" ng-disabled="disableReload">
	                <i class="pull-right glyphicon glyphicon-refresh"></i>
	            </a>
	            <div ng-repeat="line in log.entries">
                    {{line.date | date:"dd/MM/yyyy @ HH:mm:ss"}}: "{{line.message}}"
                </div>
            </div>
        </accordion-group>
	</accordion>
	
	<div class="page-header">
		<h2>Ingest Configuration</h2>
	</div>
	
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Security Settings</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>SecurityType</label>
                    <p data-ng-bind="ingest.securityType"></p>
                </div>
                <div class="form-group">
                    <label>Form Post Url</label>
                    <p data-ng-bind="ingest.formPostUrl">
                </div>
                <div class="form-group">
                    <label>Form Post Payload</label>
                    <pre data-ng-bind="ingest.formPostPayload"></pre>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Parsing Settings</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Field Map</label>
                    <pre data-ng-bind="ingest.fieldMap"></pre>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">Search And Scrape Settings</div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Search Url Template</label>
                    <p data-ng-bind="ingest.searchUrlTemplate">
                </div>
                <div class="form-group">
                    <label>Search Selectors</label>
                    <pre data-ng-bind="ingest.searchSelectors"></pre>
                </div>
                <div class="form-group">
                    <label>Product Selectors</label>
                    <pre data-ng-bind="ingest.productSelectors"></pre>
                </div>
            </div>
        </div>
        
        <small>
	        <em class="text-muted">
		        Created on:
		        <span data-ng-bind="ingest.created | date:'mediumDate'"></span>
	        </em>
        </small>
    </div>
	
</section>
