<section data-ng-controller="PickupsController">
    <div class="page-header">
        <h1>New Pickup</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                    <div class="controls"> 
                        <ui-select data-ng-model="$parent.location" id="location" theme="bootstrap">
                            <ui-select-match placeholder="Choose location...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location._id as location in locations | filter:$select.search">
                                {{location.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-md-6">
					<label class="control-label" for="start">Start</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="start" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label class="control-label" for="start">End</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="end" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					</div>
				</div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
