<section data-ng-controller="PickupsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Pickup</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pickup.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                </div>
                
                <div class="form-group">
					<label class="control-label" for="state">State</label>
					<div class="controls">
					    <ui-select id="state" ng-model="pickup.state" theme="bootstrap">
					        <ui-select-match placeholder="Select state...">{{$select.selected}}</ui-select-match>
					        <ui-select-choices repeat="state in ['open','closed','ordered'] | filter:$select.search">
                                {{state}}
                            </ui-select-choices>
                        </ui-select>
					</div>
				</div>
                
                <div class="form-group">
                    <label class="control-label" for="location">Location</label>
                    <div class="controls"> 
                        <ui-select ng-model="pickup.location" id="location" theme="bootstrap">
                            <ui-select-match placeholder="Choose location...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="location._id as location in locations | filter:$select.search">
                                {{location.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                
                <div class="form-group">
					<label class="control-label" for="start">Start</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="startDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                        <timepicker ng-model="pickup.start" hour-step="1"
							minute-step="15" ng-required="true"></timepicker>
					</div>
				</div>

                <div class="form-group">
					<label class="control-label" for="end">End</label>
					<div class="controls">
                        <input type="date" class="form-control" uib-datepicker-popup ng-model="endDate" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-change="dateChange();" />

                        <timepicker ng-model="pickup.end" hour-step="1"
							minute-step="15" ng-required="true"></timepicker>
					</div>
				</div>
               
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
	            </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
