<section data-ng-controller="LocationsController" data-ng-init="findOne()">

	<div class="row page-header">
	    <div class="col-md-9">
		    <h1 data-ng-bind="location.name"></h1>
		</div>
	    <div class="col-md-3 text-right">
	        <div data-ng-show="authorisation.isAllowed('locations', 'edit')">
	            <h1>
		            <a class="btn btn-primary" data-ui-sref="locations.edit({locationId: location._id})">
			            <i class="glyphicon glyphicon-edit"></i>
		            </a>
		            <a class="btn btn-primary" data-ng-click="remove();">
			            <i class="glyphicon glyphicon-trash"></i>
		            </a>
		        </h1>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-sm-3 col-md-3">
	        <div class="form-group">
	            <label>Description:</label>
	            <p data-ng-bind="location.description"></p>
	        </div>
	        <div class="form-group">
	            <label>Url:</label>
	            <p data-ng-bind="location.url"></p>
	        </div>
	        <small>
		        <em class="text-muted">
			        Created on:
			        <span data-ng-bind="location.created | date:'mediumDate'"></span>
		        </em>
	        </small>
        </div>
	</div>
	
</section>
