<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Eat A Rainbow Food Coop</title>
</head>

<body>
    <center>
        <h1>Eat A Rainbow Food Coop</h1>
        {% if !production %}
        <h2>Stage Site</h2>
        <h3>Click <a href="http://www.newcrossfoodcoop.org.uk">here</a> for the live site</h3>
        <div><p>Access this site <a href="/">>>here<<</a> (password protected)</p></div>
        {% endif %}
        {% if production %}
        <h2>Coming Soon!</h2>
        <h3>Sign up to take part in our first online order!</h3>
        {% endif %}
    </center>
    {% if production %}
    <div style="width: 300px; margin: auto;">
        {% if !errors %}<p style="color: green;">{{message}}</p>{% endif %}
        {% if errors %}
            <span style="color: red;"><ul>
            {% for error in errors %}
                <li>{{error}}</li>
            {% endfor %}    
            </ul></span>
        {% endif %}
        <form action="/register-interest" method="POST">
            <table>
                <tr><td><label>First Name:</label></td><td><input type="text" name="firstName"/></td></tr>
                <tr><td><label>Last Name:</label></td><td><input type="text" name="lastName"/></td></tr>
                <tr><td><label>Email Address:</label></td><td><input type="text" name="email"/></td></tr>
                <tr><td>&nbsp;</td><td><center><button type="submit">Submit</button></center></td></tr>
            </table>
        </form>
    </div>
    <div style="width: 950px; margin: auto;">
        <p>Hi Everyone,

        <p>We (Minnie, Ben, Carlos, Oli and Keji) are the directors of <b>Eat A Rainbow Food Co-op</b>.

        <p>At present, <b>Eat A Rainbow</b> runs a weekly fruit and veg stall in New Cross and a co-buying group with Suma (using spreadsheets etc).
        The food co-op is undergoing a period of development and expansion, and the next thing on our agenda is to get tech working for us. We held a hackday and are frantically building a website to allow us to expand our ordering facilities. You can take a look at our progress on github <a href="http://github.com/newcrossfoodcoop/nxfc">here</a>

        <p>We need you... We need technical people of all flavours, we need webby design people, we need organiser type people, we need people who can author interesting copy, we need people with knowledge of current issues around food, and with interesting ideas about food and how the web can help. We need everyone! If you're interested drop us an email: <b>info AT eatarainbow.org.uk</b>

        <p>Ben, Minnie, Oli, Carlos and Keji
        <div><p>Access the site <a href="/">>>here<<</a> (password protected)</p></div>
    </div>
    {% endif %}
</body>

</html>
