<div data-ng-controller="SpickupsController">
    <h2 class="col-xs-10">None of these buttons work yet!</h2>
    <h4 class="col-xs-9 col-md-8 col-md-offset-1">Close pickup for new orders</h4>
    <a class="btn btn-primary col-xs-2" data-ng-click="close();">
        Close
    </a>

    <h4 class="col-xs-9 col-md-8 col-md-offset-1">Create supplier orders for pickup</h4>
    <a class="btn btn-primary col-xs-2" data-ng-click="order();">
        Order
    </a>

    <h4 class="col-xs-9 col-md-8 col-md-offset-1">Check-in supplier deliveries</h4>
    <a class="btn btn-primary col-xs-2" data-ng-click="checkin();">
        Check-in
    </a>

    <h4 class="col-xs-9 col-md-8 col-md-offset-1">Pick items for users</h4>
    <a class="btn btn-primary col-xs-2" data-ng-click="pick();">
        Pick
    </a>

    <h4 class="col-xs-9 col-md-8 col-md-offset-1">User collection</h4>
    <a class="btn btn-primary col-xs-2" data-ng-click="collect();">
        Collect
    </a>

</div>
