<div data-ng-controller="SpickupsController" data-ng-init="findCheckouts()">

    <button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>

    <tabset vertical="true" type="pills" class="col-md-3">
        <tab ng-repeat="checkout in checkouts" heading="{{checkout._id.user.username}} ({{checkout._id.created|date:'d/M/yy HH:mm'}}) {{checkout._id.state}}" active="checkout.active" disabled="checkout.disabled"></tab>
    </tabset>
    
    <div data-ng-show="error" class="text-danger col-xs-9">
	    <strong data-ng-bind="error"></strong>
    </div>
    
    <div id="printThisElement">
    <div ng-repeat="checkout in checkouts" class="col-md-9 pageBreak" ng-show="ngPrinting || checkout.active">
        <h3>Checkout: {{checkout._id.user.username}} ({{checkout._id.created|date:'d/M/yy HH:mm'}}) {{checkout._id.state}}</h3>
        <div class="row">
            <div class="col-xs-6">
                <h4>Summary:</h4>
                <div class="form-group col-xs-4">
                    <label>User:</label>
                    <p data-ng-bind="checkout._id.user.displayName"></p>
                </div>
                <div class="form-group col-xs-4">
                    <label>Placed on:</label>
                    <p data-ng-bind="checkout._id.created | date:'mediumDate'"></p>
                </div>
                <div class="form-group col-xs-4">
                    <label>State:</label>
                    <p data-ng-bind="checkout._id.state"></p>
                </div>
            </div>
            <div class="col-xs-6">
                <h4>Actions:</h4>
                <div>
                    <span class="col-xs-8">Finalise this checkout:</span>
                    <a class="btn btn-primary col-xs-4" ng-click="finaliseCheckout(checkout)" ng-disabled="checkout._id.state !== 'confirmed'">Finalise</a>
                </div>
                <div data-ng-show="authorisation.isAllowed('orders', 'view')">
                    <span class="col-xs-8">View this order:</span>
                    <a class="btn btn-primary col-xs-4" data-ui-sref="orders.view({orderId: checkout._id.orderId})">View Order</a>
                </div>
            </div>
        </div>
        
        <h4>Items:</h4>
	    <div class="row">
	        <div class="col-xs-12"> 
	            <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in checkout._id.items">
                            <td data-ng-bind="item.name"></td>
                            <td data-ng-bind="item.price | currency:'£'"></td>
                            <td data-ng-bind="item.quantity"></td>
                            <td data-ng-bind="item.price * item.quantity | currency:'£'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <h4>Stock Status:</h4>
        <div class="row">
            <div class="list-group col-xs-12">
                <div ng-repeat="entry in checkout.stock | orderBy:['name','-created']" class="list-group-item row">
                    <span class="col-xs-3">
                        <span data-ng-bind="entry.quantity"></span>&nbsp;&nbsp;
                        <span data-ng-bind="entry.name"></span>
                    </span>
                    <span class="col-xs-1" data-ng-bind="entry.state"></span>
                    <div class="btn-group col-xs-8">
                        <label class="btn btn-primary btn-stock" ng-model="entry.checkboxes.reserved" ng-click="checked('reserved',entry)" btn-checkbox ng-disabled=true>Reserved</label>
                        <label class="btn btn-primary btn-stock" ng-model="entry.checkboxes.ordered" ng-click="checked('ordered',entry)" btn-checkbox>Ordered</label>
                        <label class="btn btn-primary btn-stock" ng-model="entry.checkboxes.delivered" ng-click="checked('delivered',entry)" btn-checkbox>Delivered</label>
                        <label class="btn btn-primary btn-stock" ng-model="entry.checkboxes.picked" ng-click="checked('picked',entry)" btn-checkbox>Picked</label>
                        <label class="btn btn-primary btn-stock" ng-model="entry.checkboxes.pickedup" ng-click="checked('pickedup',entry)" btn-checkbox>Picked Up</label>
                        <label class="btn btn-primary btn-stock btn-warning" ng-model="entry.checkboxes.cancelled" ng-click="cancel(entry)" btn-checkbox>Cancelled</label>
                    </div>
                </div>
            </div>
        </div>
        
	</div>
	</div>

    <div class="alert alert-warning text-center" data-ng-hide="!checkouts.$resolved || checkouts.length">
    	No Checkouts yet...
    </div>
</div>
