<section data-ng-controller="IngestsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="ingest.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authorisation.isAllowed('ingests', 'edit')">
		<a class="btn btn-primary" data-ui-sref="ingests.edit({ingestId: ingest._id})">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
	<div class="row">
        <div class="col-sm-3 col-md-3">
	        <div class="form-group text-left">
		        <img data-ng-src="{{ingest.mainImageURL}}" alt="{{ingest.name}}" class="img-thumbnail ingest-picture">
	        </div>
	    </div>
	    <div class="col-sm-3 col-md-3">
	        <div class="form-group">
	            <label>Description:</label>
	            <p data-ng-bind="ingest.description"></p>
	        </div>
	        <small>
		        <em class="text-muted">
			        Created on:
			        <span data-ng-bind="ingest.created | date:'mediumDate'"></span>
		        </em>
	        </small>
        </div>
	</div>
	
</section>
