<section data-ng-controller="OrdersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Orders</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="order in orders" data-ui-sref="orders.view({orderId: order._id})" class="list-group-item">
		    <small class="list-group-item-text">
			    Posted on
			    <span data-ng-bind="order.created | date:'medium'"></span>
			    by
			    <span data-ng-bind="order.user.displayName"></span>
		    </small>
            <h4 class="list-group-item-heading">{{order.totalItems()}} items @ £{{order.total}} [{{order.state}}]</h4>
            <p class="list-group-item-text" data-ng-bind="order.state"></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!orders.$resolved || orders.length">
    	No Orders yet, why don't you <a data-ui-sref="orders.create()">create one</a>?
    </div>
</section>
