<section data-ng-controller="OrdersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>
		    <span data-ng-bind="order.totalItems()"></span> items @ £<span data-ng-bind="order.total"></span> [{{order.state}}]
	    </h1>
	</div>

    <div class="row">
        <h2 class="col-xs-12">Order Detail</h2>
    </div>
	<div order-items></div>

    <div class="row">
        <h2 class="col-xs-12">Actions</h2>
        <h4 class="col-xs-10 col-md-7">Recalculate order with current data</h4>
        <a class="btn btn-primary col-xs-2 col-md-1" data-ng-click="recalculate()" ng-disabled="order.state!=='confirmed'">Recalculate</a>
        <h4 class="col-xs-10 col-md-7">Recalculate order with a fresh lookup of products</h4>
        <a class="btn btn-primary col-xs-2 col-md-1" data-ng-click="recalculateWithLookup()" ng-disabled="order.state!=='confirmed'">Recalculate</a>
        <h4 class="col-xs-10 col-md-7">Refund money due and close</h4>
        <a class="btn btn-primary col-xs-2 col-md-1" data-ng-click="close()" ng-disabled="order.state!=='finalised'">Close</a>
    </div>

    <div data-ng-repeat="payment in order.payments" ng-init="rows={}">
        <hr>
        <h3>{{payment.method}} [{{payment.state}}] <small>{{payment.created | date:"MM/dd/yyyy @ HH:mm:ss" }}</small></h3>
        <div data-ng-repeat="entry in payment.transactions.log | reverse">
            <h4>
            <a class="btn" data-ng-click="rows[$index] = !rows[$index]">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
            {{entry.name}} <small>{{entry.date | date:"MM/dd/yyyy @ HH:mm:ss" }}<small></h4>
	        <pre ng-show="rows[$index]">{{payment.transactions[entry.name] | json}}</pre>
	    </div>
	</div>
	
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="order.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="order.user.displayName"></span>
		</em>
	</small>
</section>
